/* место для вашего кода */
.body {
    margin: auto;
    width: 1440px;
    background-color: rgb(255, 255, 255);
}

.header {
    display:grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 92px 50px 92px 51px ;
}

.header__menu {
    justify-self: start;
    font-size: 18px;
}

.header__links-list {
    display: flex;
}

.header__links-list_item {
    list-style: circle;
    margin-right: 32px;
}

.header__links-list_item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header__link_active {
    border-bottom: 0px;
}

.header__logo {
    display: block;
    width: 137px;
    padding-left: 2px;
}

.header__logo-image {
    width: 100%;
}

.address {
    width: 240px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    line-height: 24.3px;
}

.header__address {
    justify-self: end;
    text-align: left;
    display: inline-block;
    text-underline-offset: 4px;
}

.content {
    color: #FFF;
}

.cover {
    position: relative;
    z-index: 0;
    min-height: 100%;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    padding-bottom: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0/0.6);
}

.cover__title {
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.alligned-text {
    display: block;
    padding-left: 50px;
    padding-top: 165px;
}

.letter-spacing-extendent {
    padding-left: 30px;
}

.alligned-text_center {
    text-align: center;
    padding-left: 0px;
    padding-top: 13px;
    padding-right: 30px;
}

.alligned-text_right {
    text-align: end;
    padding-right: 20px;
    padding-top: 5px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-top: 129px;
}

.cover__description-text {
    padding-left: 422px;
    align-self: center;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 17.5px;
}

.bet-button {
    appearance: none;
    cursor: progress;
    min-width: 257px;
    min-height: 50px;
    border: 1px;
    border-color: #FFF;
    border-style:double;
    background: transparent;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFF;
}

.lots {
    width: 1340px;
    min-height: 579px;
    margin: 180px 50px ;
}

.lots__heading {
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__cards-list {
    display:flex;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
    margin-top: 27px;
}

.lots__cards-list-item {
    min-height: 450px;
    width: 430px;
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.card {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_title {
    text-decoration-line: underline;
    text-transform: uppercase;
    font-size: 22px;
    padding: 50px 40px 0  40px  ;
}

.card-text {
    font-size: 20px;
    padding: 0 40px 50px  40px;
}

.lots__look-more-link {
    display: inline-block;
    color: #000;
    font-size: 20px;
    text-underline-offset: 4px;
    margin: 30px 0 0 40px;
}

.about {
    width: 1340px;
    min-height: 487px;
    margin: 180px 50px 155px ;
    display:grid;
    grid-template-columns: 430px auto;
    gap: 25px;
    justify-content: space-between;
    align-items:start;
    justify-items: center;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about__logo-image {
    width: 62%;
}

.about__title {
    display: flex;
    color: #000;
    padding: 100px 0 100px 0;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-items: center;
    align-items: start;
    justify-content: space-between;
    padding: 0px 50px 90px ;
}

.footer-address {
    justify-self: start;
    text-align: left;
    display: inline-block;
    text-underline-offset: 4px;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    font-size: 18px;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.footer__menu-link_active {
    border-bottom: 0px;
}

.footer__sotial-list {
    display:flex;
    justify-self: end;
    justify-content: space-between;
    width: 240px;
}

.footer__sotial-list-item {
    height: 48px;
    list-style: none;
}

.footer__sotial-link {
    display: block;
    height: 100%;
}

.footer__logo-image {
    height: 100%;
}
